		* {
			margin: 0;
			padding: 0;
			background-color: #ffa8ae;
			font-family: Serif;
		}
		h1 {
			padding: 5px 10px;
			background-color: #ff9098;
			color: white;
			font-size: 40px;
		}
		.body {
			margin: auto;
			width: 50%;
			background-color: #ffa8ae;
		}
		.header-1{
			margin: 10px;
			padding: 10px;
		}
		.list ul li{
			border-radius: 4px;
			text-decoration: none;
			list-style-type: none;
			cursor: pointer;
			font-size: 18px;
			background: #FACED1;
			padding: 12px 8px 12px;
			position: relative;
		}
		.list ul li:nth-child(odd) {
  			background: #FFE4E1;
  			margin: 5px 0;
		}
		del {
			text-decoration: none;
			background-color: transparent;
		}
		ul li input[type=checkbox]:checked ~ del {
			text-decoration: line-through;
		}

		#to-do-list {
			font-size: 50px;
			font-family: Serif;
			padding: 10px;
		}
		#new-task {
			border-color: #FFE4E1;
			border-radius: 4px;
			border-style: solid;
			padding: 5px;
			width: 75%;
			font-size: 20px;
			margin: 10px 0;

		}
		::placeholder {
			color: #ffe8e9;
		}
		#bttn {
			width: 20%;
			padding: 5px;
			font-size: 20px;
			border-radius: 4px;
			border-color: #ff707a;
			background-color: #ff707a;
			color: white;
		}

		.close {
			position: absolute;
			right: 3.4px;
			top: 3.4px;
			padding: 8px 12px 8px 12px;
			background-color: transparent;
		}
		.chk {
			margin-right: 10px; 
		}